[rhui-microsoft-azure-rhel7]
name=Microsoft Azure RPMs for Red Hat Enterprise Linux 7
baseurl=https://rhui-1.microsoft.com/pulp/repos/microsoft-azure-rhel7
        https://rhui-2.microsoft.com/pulp/repos/microsoft-azure-rhel7
        https://rhui-3.microsoft.com/pulp/repos/microsoft-azure-rhel7
enabled=1
gpgcheck=1
gpgkey=https://rhelimage.blob.core.windows.net/repositories/RPM-GPG-KEY-microsoft-azure-release
sslverify=1
